section {
    padding: 100px 0;
}

.max-width {
    max-width: 1380px;
    padding: 0 80px;
    margin: auto;
}

section .title {
    position: relative;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #03A9F4;
}