.project-wrapper {
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.project {
    background: rgba(57,52,78,0.1);
    position: relative;
    width: 480px;
    height: 380px;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 300ms;
    box-shadow: 1px 1px 10px rgba(57, 52, 78, 0.7);
}

.project:hover {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.record-arrow {
    position: absolute;
    padding: 3%;
    background-image: url("http://www.portalguard.com/images/icons/right-arrow.png");
    background-size: contain;
    transform: translateX(75%);
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.record:hover .record-arrow {
    transform: translateX(85%);
    opacity: 1;
}
.project-image1 {
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/Tyre shop portfolio.jpg");
    background-size: cover;
    background-position: center;
}

.project-image2 {
    width: 100%;
    height: 100%;
    background-image: url("assets/img/me.png");
    background-size: cover;
    background-position: center;
}

.project-image3 {
    width: 100%;
    height: 100%;
    background-image: url("assets/img/Tyre shop portfolio.jpg");
    background-size: cover;
    background-position: center;
}

.project-image4 {
    width: 100%;
    height: 100%;
    background-image: url("assets/img/Tyre shop portfolio.jpg");
    background-size: cover;
    background-position: center;
}

.project:hover .project-image1,
.project:hover .project-image2,
.project:hover .project-image3,
.project:hover .project-image4{
    height: 50%;
    box-shadow: 1px 1px 10px rgba(57, 52, 78, 0.7);
}

.project-desc {
    margin: 20px 0 0 10px;
    opacity: 1;
    transition: opacity 400ms ease-in-out 190ms;
}

.project-desc h1 {
    margin: 5px 0;
    font-size: 1.3em;
    font-weight: 700;
    color: #03A9F4;
}

.project-desc p {
    font-size: 0.75em;
    line-height: 1.4em;
    color: #ededed;
}

.project:hover .project-desc {
    opacity: 1;
}

#project1, #project2, #project3, #project4, #project5{
    transition: height 800ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
}
.projectBtn {
    margin-top: 20px;
    border: none;
    background: transparent;
    padding: 0 24px;
    font-size: 16px;
    line-height: 52px;
    position: relative;
    font-weight: 500;
    color: #03A9F4;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.projectBtn a {
    text-decoration: none;
    color: #ededed;
}

.projectBtn:hover {
    color: #fff;
}

.projectBtn:hover:after {
    opacity: 0;
    background: #03A9F4;
}

.projectBtn:hover:before {
    width: 100%;
    background: #03A9F4;
    box-shadow: 0 10px 90px -2px rgba(0, 0, 0, 0.2);
}

.projectBtn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 48px;
    background: transparent;
    border: 2px solid #03A9F4;
    z-index: -1;
    border-radius: 5px;
    transition: 300ms ease-in-out;
}
.projectBtn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 80%;
    z-index: -1;
    transition: 100ms linear;
}